body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.2;
    background: #17191C;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0px;
}

a {
    color: inherit
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h3, h4, h6 {
    margin: 0;
    font-weight: normal;
}

img {
    display: block;
    max-width: 100%;
}

p {
    margin-top: 0;
}

* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    min-width: 1200px
}

.main-page-wrapper {
    background: url("./img/hero.png") center top no-repeat, url(./img/bottom-pic.png) right bottom no-repeat;
}

.container {
margin: 0 auto;
width: 1145px;
}

.logo {
    display: block;
    margin-right: 244px;
    top: 57px;
    left: 0px;
}

.menu {
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 102px;  
}

.header {
    padding-top: 27px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__col {
    display: flex;
    align-items: center;
}

.header__col--align--right {
    justify-content: flex-end;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 51px;
}

.menu__item--active .menu__link {
    color: #FF3D00;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover {
    color: #FF3D00;
}

.contacts {
    font-style: normal;
    text-align: right;
}

.contacts__desc {
    color: #9A9A9A;
    font-size: 11px;
}

.contacts__phone {
    text-decoration: none; 
    font-size: 26px;
    margin-bottom: 4px;
}

.contacts__dropdown-title {
    font-size: 13px;
    text-decoration: underline;
    color: #FFFFFF;
}

.hello {
    margin: 122px 0px 236px 0px;
}

.hello__text-section {
    margin: 0px auto;
    width: 76%;
    text-align: center;
}

.hello__title {
    font-family: Open sans;
    font-size: 72px;
    font-weight: 800;
    line-height: 98px;
    margin-bottom: 23px;
    font-style: normal;
    text-align: center;
    align-items: flex-end;
    text-transform: uppercase;
}

.hello__text {
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 41px;
}

.button {
    background: #FF3D00;
    font-size: 14px;
    border-radius: 35px;
    padding: 19px 54px;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #FF5500;
}

.button--color--orange {
    background: #FF3D00;
    color: #FFFFFF;
    border: 2px solid #FF5500;
}

.button--color--orange:hover {
    background: #FFFFFF;
    color: #FF3D00;
}

.button--color--white {
    background: #FFFFFF;
    color: #FF3D00;
    border: 2px solid #FF5500;
}

.button--color--white:hover {
    background-color: #FF3D00;
    color: #FFFFFF;
}

.offers__list {
    display: flex;
    justify-content: space-between;
}

.offers__item {  
    background: #FFFFFF;
    border-radius: 5px;
    width: calc(100% / 3 - 18px);
    min-height: 476px;
    padding: 4px 0px 39px 0px;
    display: flex;
    flex-direction: column;
}

.offers__item:last-child {
    margin-right: 0;
}

.offers__header {
    min-height: 86px;
    position: relative;
}

.offers__header-img {
    position: absolute;
    left: 8%;
    top: 38%;
}

.offers__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    padding: 0px 23px;
    color: #000000;
}

.offers__title {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 21px;
}

.offers__features {
    display: flex;
    justify-content: space-between;
    margin-right: 2px;
    margin-bottom: 27px;
}

.offers__features-cell {
margin-right: 61px;
}

.offers__features-cell:last-child {
    margin-right: 0;
}

.offers__features-text {
    color: #666666;
    font-weight: normal;
    font-size: 16px;
}

.offers__text {
    margin-right: 6px;
    margin-bottom: 32px;
    color: #666666;
    font-weight: normal;
    line-height: 1.5;
    font-size: 14px;
}
.offers__features-range {
    font-weight: bold;
    font-size: 16px;
    color: black;
}

.offers__button-wrapper {
    display: flex;
    justify-content: left;
    margin-top: af;
}

.news {
    margin-bottom: 53px;
    display: flex;
    justify-content: space-between;
}

.news__item {
    width: 557px;
    height: 394px;
    flex: 1;
    margin-right: 25px;
    position: relative;
}

.single-news {
    position: relative;
}

.news__item:last-child {
    margin-right: 0;
}

.title__news {
    font-weight: 800;
    font-size: 36px;
    margin-bottom: 51px;
    text-transform: uppercase;
    margin-top: 178px;
}

.single-news__cover {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 40%;
}

.single-news__text-content {    
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 13px 30px;
    min-height: 140px;
    position: absolute;
}

.single-news__date {
    font-size: 14px;
    margin-bottom: 14px;
}

.single-news__subtitle {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__info {
    margin-right: 25px;
}

.pagination__list {
    display: flex;
    align-items: center;
}

.pagination__item {
    text-align: center;
}

.pagination__item--active .pagination__number{
background: #FF5500;
}

.pagination__number {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}

.section {
    margin-top: 149px;
    margin-bottom: 62px;
}

.about::before {
    content: "";
    display: block;
    width: 490px;
    height: 505px;
    background: url("./img/cameraman.png") center center / cover no-repeat;
}

.about {
    display: flex;
}

.about__desc {
    background: #FFFFFF;
    padding: 46px 201px 40px 83px;
    max-width: 785px;
    margin-left: -142px;
    margin-top: 102px;
    border-radius: 5px;
    line-height: 27px;
}

.about__title {
    font-weight: 800;
    font-size: 36px;
    margin-bottom: 50px;
    color: black;
    text-transform: uppercase;
}

.about__name {
    font-weight: normal;
    font-size: 16px;
    color: black;
    margin-bottom: 46px;
}

.about__name p {
    margin-bottom: 20px;
}

.about__name p :last-child {
    margin-bottom: 0;
}

.footer__container {
    margin-top: auto;
}

.footer-container__section {
    height: 52px;
    margin-top: 46px;
}

.footer-container__content {
    border-top: 1px solid #353538;
}

.footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__col {
    display: flex;
    align-items: center;
}

.footer__col--align--right {
    justify-content: flex-end;
}

.logo__footer {
    margin-right: 131px;
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.socials {
    margin-right: 74px;
}

.socials__item :last-child {
    margin-right: 0;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}

.socials__item--icon--telegram .socials__link {
    background-image: url(./img/telegram.png);
}

.socials__item--icon--telegram .socials__link:hover {
    background-image: url(./img/t.png);
}

.socials__item--icon--vk .socials__link {
    background-image: url(./img/vk.png);
}

.socials__item--icon--vk .socials__link:hover {
    background-image: url(./img/vk-hover.png);
}

.socials__item--icon--facebook .socials__link {
    background-image: url(./img/facebook\ 1.png);
}

.socials__item--icon--facebook .socials__link:hover {
    background-image: url(./img/f2.png);
}

.socials__item--icon--instagram .socials__link {
    background-image: url(./img/in.png);
}

.socials__item--icon--instagram .socials__link:hover {
    background-image: url(./img/in-hover.png);
}

/* услуги */

.top-line {
    padding-bottom: 28px;
    min-height: 416px;
    background: url(/img/top-line.png) center top no-repeat;
    display: flex;
    flex-direction: column;
}

.top-line__container {
    margin: 0 auto;
    width: 1150px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page__title {
    font-size: 72px;
    line-height: 1;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
}

.breadcrumbs__list {
    display: flex;
    align-items: center;
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
}

.breadcrumbs__item--active .breadcrumbs__link {
    color: #9A9A9A;
}

.breadcrumbs__item::after {
    content: "/";
    color: #9A9A9A;    
}

.breadcrumbs__item:last-child::after {
    display: none;
}

.breadcrumbs__link {
    color: #9A9A9A;
    font-size: 14px;
}

.page__content {
    background: #fff;
    color: #303030;
    padding: 77px 0;
}

.services {
margin-bottom: 45px;
}

.service {
    display: flex;
    padding: 21px 0px;
}

.service__img {
    width: 41%;
    margin-right: 4%;
}

.service__content {
    flex: 1;
}     

.service__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 28px;
    color: #000000;
}

.service__desc {
    line-height: 1.7;
    margin-bottom: 18px;
    color: #303030;
}

.inner-section {
    background: #F4F5F5;
    color: #1A1B1E;
    padding: 59px 0;
}

.inner-section--bg--grey {
    background: #F4F5F5;
}

.inner-section__title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 130px;
}

.partners {
    display: flex;
    flex-wrap: wrap;
}

.partners__item {
    margin-left: 46px;
}

.partners__item:nth-child(4n + 1) {
    margin-left: 0px;
}

.partners__link {
    text-decoration: none;
    display: flex;
    width: 250px;
    height: 100px;
    align-items: center;
    justify-content: center;
    filter: grayscale(100%);
}

.partners__link:hover {
    filter: grayscale(0);
}

/* приветственная страница*/

.title-content {
    min-width: 1920px;
    min-height: 960px;
}

.title-wrapper {
    background: url("./img/bg\(begin\).png") center no-repeat;
}