/* главная страница */
body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.2;
    background: #17191C;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0px;
}

a {
    color: inherit
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h3, h4, h6 {
    margin: 0;
    font-weight: normal;
}

img {
    display: block;
    max-width: 100%;
}

p {
    margin-top: 0;
}

* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    min-width: 1200px
}

.main-page-wrapper {
    background: url("./img/hero.png") center top no-repeat, url(./img/bottom-pic.png) right bottom no-repeat;
}

/* Главная страница*/

.container {
margin: 0 auto;
width: 1145px;
}

.logo {
    display: block;
    margin-right: 244px;
    top: 57px;
    left: 0px;
}

.menu {
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 102px;  
}

.header {
    padding-top: 27px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__col {
    display: flex;
    align-items: center;
}

.header__col--align--right {
    justify-content: flex-end;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 51px;
}

.menu__item--active .menu__link {
    color: #FF3D00;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover {
    color: #FF3D00;
    transition-duration: 0.5s;
}

.contacts {
    font-style: normal;
    text-align: right;
}

.contacts__desc {
    color: #9A9A9A;
    font-size: 11px;
}

.contacts__phone {
    text-decoration: none; 
    font-size: 26px;
    margin-bottom: 4px;
}

.contacts__dropdown-title {
    font-size: 13px;
    text-decoration: underline;
    color: #FFFFFF;
}

.hello {
    margin: 122px 0px 236px 0px;
}

.hello__text-section {
    margin: 0px auto;
    width: 76%;
    text-align: center;
}

.hello__title {
    font-family: Open sans;
    font-size: 72px;
    font-weight: 800;
    line-height: 98px;
    margin-bottom: 23px;
    font-style: normal;
    text-align: center;
    align-items: flex-end;
    text-transform: uppercase;
}

.hello__text {
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 41px;
}

.button {
    background: #FF3D00;
    font-size: 14px;
    border-radius: 35px;
    padding: 19px 54px;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #FF5500;
}

.button--color--orange {
    background: #FF3D00;
    color: #FFFFFF;
    border: 2px solid #FF5500;
}

.button--color--orange:hover {
    background: #FFFFFF;
    color: #FF3D00;
    transition-duration: 0.5s;
}

.button--color--white {
    background: #FFFFFF;
    color: #FF3D00;
    border: 2px solid #FF5500;
}

.button--color--white:hover {
    background-color: #FF3D00;
    color: #FFFFFF;
    transition-duration: 0.5s;
}

.offers__list {
    display: flex;
    justify-content: space-between;
}

.offers__item {  
    background: #FFFFFF;
    border-radius: 5px;
    width: calc(100% / 3 - 18px);
    min-height: 476px;
    padding: 4px 0px 39px 0px;
    display: flex;
    flex-direction: column;
}

.offers__item:last-child {
    margin-right: 0;
}

.offers__header {
    min-height: 86px;
    position: relative;
}

.offers__header-img {
    position: absolute;
    left: 8%;
    top: 38%;
}

.offers__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    padding: 0px 23px;
    color: #000000;
}

.offers__title {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 21px;
}

.offers__features {
    display: flex;
    justify-content: space-between;
    margin-right: 2px;
    margin-bottom: 27px;
}

.offers__features-cell {
margin-right: 61px;
}

.offers__features-cell:last-child {
    margin-right: 0;
}

.offers__features-text {
    color: #666666;
    font-weight: normal;
    font-size: 16px;
}

.offers__text {
    margin-right: 6px;
    margin-bottom: 32px;
    color: #666666;
    font-weight: normal;
    line-height: 1.5;
    font-size: 14px;
}
.offers__features-range {
    font-weight: bold;
    font-size: 16px;
    color: black;
}

.offers__button-wrapper {
    display: flex;
    justify-content: left;
}

.news {
    margin-bottom: 53px;
    display: flex;
    justify-content: space-between;
}

.news__item {
    width: 557px;
    height: 394px;
    flex: 1;
    margin-right: 25px;
    position: relative;
}

.single-news {
    position: relative;
}

.news__item:last-child {
    margin-right: 0;
}

.title__news {
    font-weight: 800;
    font-size: 36px;
    margin-bottom: 51px;
    text-transform: uppercase;
    margin-top: 178px;
}

.single-news__cover {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 40%;
}

.single-news__text-content {    
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 13px 30px;
    min-height: 140px;
    position: absolute;
}

.single-news__date {
    font-size: 14px;
    margin-bottom: 14px;
}

.single-news__subtitle {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__info {
    margin-right: 25px;
}

.pagination__list {
    display: flex;
    align-items: center;
}

.pagination__item {
    text-align: center;
}

.pagination__item--active .pagination__number{
background: #FF5500;
}

.pagination__number {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}

.section {
    margin-top: 149px;
    margin-bottom: 62px;
}

.about::before {
    content: "";
    display: block;
    width: 490px;
    height: 505px;
    background: url("./img/cameraman.png") center center / cover no-repeat;
}

.about {
    display: flex;
}

.about__desc {
    background: #FFFFFF;
    padding: 46px 201px 40px 83px;
    max-width: 785px;
    margin-left: -142px;
    margin-top: 102px;
    border-radius: 5px;
    line-height: 27px;
}

.about__title {
    font-weight: 800;
    font-size: 36px;
    margin-bottom: 50px;
    color: black;
    text-transform: uppercase;
}

.about__name {
    font-weight: normal;
    font-size: 16px;
    color: black;
    margin-bottom: 46px;
}

.about__name p {
    margin-bottom: 20px;
}

.about__name p :last-child {
    margin-bottom: 0;
}

.footer__container {
    margin-top: auto;
}

.footer-container__section {
    height: 52px;
    margin-top: 46px;
}

.footer-container__content {
    border-top: 1px solid #353538;
}

.footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__col {
    display: flex;
    align-items: center;
}

.footer__col--align--right {
    justify-content: flex-end;
}

.logo__footer {
    margin-right: 131px;
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.socials {
    margin-right: 74px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background-color: #ccc;
    padding: 10px;
    border-radius: 50%;
    background: center center no-repeat;
    position: relative;
}

.socials__link:hover:before {
    opacity: 1;
}

.socials__link:hover:after {
    opacity: 0;
}

.socials__link:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    height: 36px;
    transform: translate(-50%, -50%);
    background: url('./img/sprite.png') -346px -10px;
    transition: .3s;
}

.socials__link:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    height: 36px;
    transform: translate(-50%, -50%);
    background: url('./img/sprite.png') -402px -10px;
    opacity: 0;
    transition: .3s;
}

.socials__link:hover:after {
    background-position: -346px -10px;
}

.socials__link:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    height: 36px;
    transform: translate(-50%, -50%);
    background: url('./img/sprite.png') -122px -10px;
    transition: .3s;
}

.socials__link:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    height: 36px;
    transform: translate(-50%, -50%);
    background: url('./img/sprite.png') -290px -10px;
    opacity: 0;
    transition: .3s;
}

.socials__link:hover:after {
    background-position: -122px -10px;
}

.socials__link:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    height: 36px;
    transform: translate(-50%, -50%);
    background: url('./img/sprite.png') -66px -10px;
    transition: .3s;
}

.socials__link:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    height: 36px;
    transform: translate(-50%, -50%);
    background: url('./img/sprite.png') -234px -10px;
    opacity: 0;
    transition: .3s;
}

.socials__link:hover:after {
    background-position: -66px -10px;
}

.socials__link:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    height: 36px;
    transform: translate(-50%, -50%);
    background: url('./img/sprite.png') -10px -10px;
    transition: .3s;
}

.socials__link:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    height: 36px;
    transform: translate(-50%, -50%);
    background: url('./img/sprite.png') -178px -10px;
    opacity: 0;
    transition: .3s;
}

.socials__link:hover:after {
    background-position: -178px -10px;
}

/* всплывающее меню */

.contacts__dropdown-title__wrap {
    font-size: 13px;
    text-decoration: underline;
    position: relative;
}

.contacts__dropdown-title__wrap:hover {
    color: red;
    cursor: pointer;
}

.contacts__dropdown-title__wrap {
    margin-bottom: 20px;
}

.contacts__dropdown-title__wrap:hover .dropdown {
    left: 0;
    opacity: 1;
}

.dropdown {
    padding: 23px 34px 15px;
    background: #CDD1D2;
    opacity: 0.8;
    border-radius: 5px;
    color: #1E1F20;
    font-weight: 600;
    position: absolute;
    top: 31px;
    left: -9999px;
    opacity: 0;
    transition: opacity 1s;
}

.dropdown__days {
    font-weight: 700;
}

.dropdown::before {
    content: '';
    height: 32px;
    width: 100%;
    position: absolute;
    top: -30px;
    left: 0px;
}

.dropdown::after {
    content: '';
    position: absolute;
    border: 15px solid transparent;
    border-bottom-color: #CDD1D2;
    border-top-width: 0;
    top: -15px;
    right: 37px;
}