body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.2;
    background: #17191C;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h3, h4, h6 {
    margin: 0;
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

.wrapper__content {
margin: 0 auto;
width: 1142px;
}

.container header__container {
    height: 120px;
    position: relative;
    margin-bottom: 154px;
}

.logo {
    display: block;
    position: absolute;
    top: 27px;
    left: 1;
}

.menu {
    position: absolute;
    top: 47px;
    left: 439px;
}

.header {
    height: 1px;
    position: relative;
    margin-bottom: 76px;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 51px;
}

.menu__item--active .menu__link {
    color: #FF3D00;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover {
    color: #FF3D00;
}

.contacts {
    font-style: normal;
    text-align: right;
    position: absolute;
    top: 35px;
    right: 0px;
}

.contacts__phone {
    text-decoration: none; 
    font-size: 26px;
    margin-bottom: 4px;
}

.contacts__dropdown-title {
    font-size: 13px;
    text-decoration: underline;
    color: #FF3D00;
    position: absolute;
    width: 97px;
    height: 20px;
    left: 92px;
    top: 30.14px;
}

.hello {
    margin: 235px auto;
}

.hello__text-section {
    width: 1144px;
    text-align: center;
}

.hello__title {
    font-family: Open sans;
    font-size: 72px;
    font-weight: 800;
    line-height: 98px;
    margin-bottom: 18px;
    font-style: normal;
    display: flex;
    text-align: center;
    align-items: flex-end;
    text-transform: uppercase;
}

.hello__text {
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 41px;
}

.button {
    background: #FF3D00;
    font-size: 14px;
    border-radius: 35px;
    padding: 19px 54px;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #FF5500;
}

.button--color--orange {
    background: #FF3D00;
    color: #FFFFFF;
    border: 2px solid #FF5500;
}

.button--color--orange:hover {
    background: #FFFFFF;
    color: #FF3D00;
}

.button--color--white {
    background: #FFFFFF;
    color: #FF3D00;
    border: 2px solid #FF5500;
}

.button--color--white:hover {
    background-color: #FF3D00;
    color: #FFFFFF;
}

.offers {
    margin-bottom: 180px;
}

.offers__item {  
    background: #FFFFFF;
    border-radius: 5px;
    display: inline-block;
    margin-right: 23px;
    width: 362px;
    min-height: 476px;
}

.offers__item:last-child {
    margin-right: 0;
}

.offers__header {
    min-height: 92px;
    position: relative;
}

.offers__header-img {
    position: absolute;
    left: 8%;
    top: 38%;
}

.offers__content {
    padding-top: 24px;
    padding: 0px 23px;
    color: #000000;
}

.offers__title {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 21px;
}

.offers__features-cell {
    display: inline-block;
    width: 39%;
    vertical-align: top;
    margin-right: 55px;
    margin-bottom: 13px;
}

.offers__features-cell:last-child {
    margin-right: 0;
}

.offers__features-text {
    color: #666666;
    font-weight: normal;
    font-size: 16px;
}

.offers__text {
    margin-right: 6px;
    margin-bottom: 46px;
    color: #666666;
    font-weight: normal;
    font-size: 14px;
}
.offers__features-range {
    font-weight: bold;
    font-size: 16px;
    color: black;
}

.offers__button-wrapper {
    text-align: left;
}

.news__item {
    width: 557px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.title__news {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 45px;
}

.news__cover {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 40%;
}

.news__text-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px 31px;
    min-height: 130px;
}

.news__date {
    font-size: 14px;
    margin-bottom: 12px;
}

.news__subtitle {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
}

.title__list {
    margin-bottom: 58px;
}
