body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.2;
    background: #17191C;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0px;
}

a {
    color: inherit
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h3, h4, h6 {
    margin: 0;
    font-weight: normal;
}

img {
    display: block;
    max-width: 100%;
}

p {
    margin-top: 0;
}

* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    min-width: 1200px
}

.container {
    margin: 0 auto;
    width: 1145px;
}
    
.logo {
    display: block;
    margin-right: 244px;
    top: 57px;
    left: 0px;
}

.header {
    padding-top: 27px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__col {
    display: flex;
    align-items: center;
}

.header__col--align--right {
    justify-content: flex-end;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 51px;
}

.menu__item--active .menu__link {
    color: #FF3D00;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover {
    color: #FF3D00;
    transition-duration: 0.5s;
}

.contacts {
    font-style: normal;
    text-align: right;
}

.contacts__desc {
    color: #9A9A9A;
    font-size: 11px;
}

.contacts__phone {
    text-decoration: none; 
    font-size: 26px;
    margin-bottom: 4px;
}
    
.contacts__dropdown-title {
    font-size: 13px;
    text-decoration: underline;
    color: #FFFFFF;
}

/* всплывающее меню */

.contacts__dropdown-title__wrap {
    font-size: 13px;
    text-decoration: underline;
    position: relative;
}

.contacts__dropdown-title__wrap:hover {
    color: red;
    cursor: pointer;
}

.contacts__dropdown-title__wrap {
    margin-bottom: 20px;
}

.contacts__dropdown-title__wrap:hover .dropdown {
    left: 0;
    opacity: 1;
}

.dropdown {
    padding: 23px 34px 15px;
    background: #CDD1D2;
    opacity: 0.8;
    border-radius: 5px;
    color: #1E1F20;
    font-weight: 600;
    position: absolute;
    top: 31px;
    left: -9999px;
    opacity: 0;
    transition: opacity 1s;
}

.dropdown__days {
    font-weight: 700;
}

.dropdown::before {
    content: '';
    height: 32px;
    width: 100%;
    position: absolute;
    top: -30px;
    left: 0px;
}

.dropdown::after {
    content: '';
    position: absolute;
    border: 15px solid transparent;
    border-bottom-color: #CDD1D2;
    border-top-width: 0;
    top: -15px;
    right: 37px;
}

.top-line {
    padding-bottom: 28px;
    min-height: 416px;
    background: url(./img/top-line.png) center top no-repeat;
    display: flex;
    flex-direction: column;
}

.top-line__container {
    margin: 0 auto;
    width: 1150px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page__title {
    font-size: 72px;
    line-height: 1;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
}

.breadcrumbs__list {
    display: flex;
    align-items: center;
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
}

.breadcrumbs__item--active .breadcrumbs__link {
    color: #9A9A9A;
}

.breadcrumbs__item::after {
    content: "/";
    color: #9A9A9A;    
}

.breadcrumbs__item:last-child::after {
    display: none;
}

.breadcrumbs__link {
    color: #9A9A9A;
    font-size: 14px;
}

.page__content {
    background: #fff;
    color: #303030;
    padding: 103px 0;
}

.button {
    background: #FF3D00;
    font-size: 14px;
    border-radius: 35px;
    padding: 19px 54px;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #FF5500;
}

.button--color--orange {
    background: #FF3D00;
    color: #FFFFFF;
    border: 2px solid #FF5500;
}

.button--color--orange:hover {
    background: #FFFFFF;
    color: #FF3D00;
    transition-duration: 0.5s;
}

.button--color--white {
    background: #FFFFFF;
    color: #FF3D00;
    border: 2px solid #FF5500;
}

.button--color--white:hover {
    background-color: #FF3D00;
    color: #FFFFFF;
    transition-duration: 0.5s;
}

.button--color--grey {
    background: #8E8E8E;
    border: 2px solid #8E8E8E;
}

.button--color--grey:hover {
    background-color: #FF3D00;
    transition-duration: 0.5s;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pagination__info {
    margin-right: 25px;
}

.pagination__list {
    display: flex;
    align-items: center;
}

.pagination__item {
    text-align: center;
}

.pagination__item--active .pagination__number{
background: #FF5500;
}

.pagination__number {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}

.inner-section {
    background: #F4F5F5;
    color: #1A1B1E;
    padding: 93px 0px;
}

.inner-section--bg--grey {
    background: #F4F5F5;
}

.inner-section__title {
    padding-bottom: 47px;
    margin: 0px;
    font-size: 48px;
    font-weight: bold;
}

.footer__container {
    margin-top: auto;
}

.footer-container__section {
    height: 52px;
    margin-top: 46px;
}

.footer-container__content {
    border-top: 1px solid #353538;
}

.footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__col {
    display: flex;
    align-items: center;
}

.footer__col--align--right {
    justify-content: flex-end;
}

.logo__footer {
    margin-right: 131px;
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.socials {
    margin-right: 74px;
}

.socials__item :last-child {
    margin-right: 0;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}

.socials__item--icon--telegram .socials__link {
    background-image: url(./img/telegram.png);
}

.socials__item--icon--telegram .socials__link:hover {
    background-image: url(./img/t.png);
    transition-duration: 0.5s;
}

.socials__item--icon--vk .socials__link {
    background-image: url(./img/vk.png);
}

.socials__item--icon--vk .socials__link:hover {
    background-image: url(./img/vk-hover.png);
    transition-duration: 0.5s;
}

.socials__item--icon--facebook .socials__link {
    background-image: url(./img/facebook\ 1.png);
}

.socials__item--icon--facebook .socials__link:hover {
    background-image: url(./img/f2.png);
    transition-duration: 0.5s;
}

.socials__item--icon--instagram .socials__link {
    background-image: url(./img/in.png);
}

.socials__item--icon--instagram .socials__link:hover {
    background-image: url(./img/in-hover.png);
    transition-duration: 0.5s;
}

/* отзывы */

.reviews {
    column-count: 2;
    column-gap: 30px;
    margin-bottom: 70px;
}

.reviews__item {
margin-bottom: 17px;
}

.review {
    display: inline-flex;
    flex-direction: column;
    padding: 46px 26px;
    background: #F4F5F5;
}

.review__header {
    display: flex;
    align-items: center;
    margin-bottom: 29px;
}

.review__photo {
    padding-right: 20px;
}

.review__user {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #1A1B1E;
    margin-bottom: 12px;
    text-decoration: none;
}

.review__user::after {
    content: url(./img/vk-blue1.png);
    height: 32px;
    padding: 0px 7px;
}

.review__user:hover {
    color: #2E77A4;
    text-decoration: underline;
}

.avatar {
    width: 142px;
    height: 142px;
    overflow: hidden;
}

.review__tags {
    display: flex;
    align-items: flex-start;
}

.tag {
    font-size: 13px;
    color: #303030;
    padding: 12px 24px;
    border-radius: 35px;
    background: #E7E7E7;
}

.tag--bg--pink {
    background: #F2D4C9;
}

.review__title {
    font-size: 30px;
    color: #202020;
    font-weight: bold;
    margin-bottom: 16px;
    line-height: 42px;
}

.review__content-text {
    color: #818181;
    margin-bottom: 45px;
    line-height: 27px;

}

.review__date {
    font-weight: 600;
    font-size: 14px;
    color: #1A1B1E;
}

.separator {
    background: #373737 url(./img/party.png) right 0% bottom 0% no-repeat;
    min-height: 363px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
}

.separator__content {
    max-width: 49%;
}

.separator__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 1.1;
}

.separator__title__range {
    color: #FF5400;
    font-weight: bold;
    font-size: 48px;
}

.inner-section__title {
    font-weight: 800;
    font-size: 36px;
    text-transform: uppercase;
}

.form__row {
    display: flex;
    margin-bottom: 21px;
}

.form__input {
    flex: 1;
    margin-right: 28px;
    border-radius: 5px;
    border: none;
    background: #FFFFFF;
    padding: 30px 18px;
    font-weight: normal;
    font-size: 18px;
    color: #1A1B1E;
}

.form__input::placeholder {
    color: #666666;
}

.form__input:last-child {
    margin-right: 0px;
}

.form__input--textarea {
    height: 235px;
    font-weight: normal;
    font-size: 18px;
    font-family: Open Sans;
    color: #666666;
}

.form__controls {
    display: flex;
    margin-bottom: 33px;
}

.form__controls-title {
    width: 40%;
}

.controls {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.controls__item {
    margin-bottom: 10px;
    margin-right: 18px;
}

.controls__elem {
    cursor: pointer;
}

.controls__checkbox:checked ~ .controls__tag {
    background: #F2D4C9;
    transition-duration: 0.5s;
}

.controls__checkbox {
    display: none;
}

.form__buttons {
    display: flex;
    justify-content: flex-end;
}

.form__button {
    margin-right: 13px;
}

.form__button:last-child {
    margin-right: 0px;
}
