body {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.42;
    background: #17191C;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h3, h4, h6 {
    margin: 0;
    font-weight: normal;
}

.wrapper__content {
margin: 0 auto;
width: 753px;
}

.container header__container {
    height: 120px;
    position: relative;
    margin-bottom: 154px;
}

.logo {
    display: block;
    position: absolute;
    top: 26px;
    left: 384;
}

.menu {
    position: absolute;
    top: 47px;
    left: 241px;
}

.contacts {
    position: absolute;
    top: 32px;
    right: 250px;
}

.header {
    height: 120px;
    position: relative;
    margin-bottom: 154px;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 54px;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover {
    color: #FF3D00;
}

.contacts {
    font-style: normal;
    text-align: right;
}

.contacts__phone {
    text-decoration: none; 
    font-size: 26px;
    margin-bottom: 4px;
}

.contacts__dropdown-title {
    font-size: 13px;
    text-decoration: underline;
    color: #FF3D00;
}

.hello__text-section {
    width: 784px;
    text-align: center;
}

.hello__title {
    font-family: Open sans;
    font-size: 72px;
    font-weight: 800;
    line-height: 98px;
    margin-bottom: 18px;
    font-style: normal;
    display: flex;
    text-align: center;
    align-items: flex-end;
    text-transform: uppercase;
}

.hello__text {
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 43px;
}

.button {
    background: #FF3D00;
    font-size: 14px;
    border-radius: 35px;
    padding: 18px 55px;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}

