body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.2;
    background: #17191C;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h3, h4, h6 {
    margin: 0;
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

.wrapper__content {
margin: 0 auto;
width: 1140px;
}

.container header__container {
    height: 120px;
    position: relative;
    margin-bottom: 154px;
}

.logo {
    display: block;
    position: absolute;
    top: 26px;
    left: 0;
}

.menu {
    position: absolute;
    top: 46px;
    left: 438px;
}

.header {
    height: 120px;
    position: relative;
    margin-bottom: 114px;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 52px;
}

.menu__item--active .menu__link {
    color: #FF3D00;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover {
    color: #FF3D00;
}

.contacts {
    font-style: normal;
    text-align: right;
    position: absolute;
    top: 34px;
    right: -1px;
}

.contacts__phone {
    text-decoration: none; 
    font-size: 26px;
    margin-bottom: 4px;
}

.contacts__dropdown-title {
    font-size: 13px;
    text-decoration: underline;
    color: #FF3D00;
    position: absolute;
    width: 97px;
    height: 20px;
    left: 92px;
    top: 30.14px;
}

.hello {
    margin: 233px auto;
}

.hello__text-section {
    width: 1142px;
    text-align: center;
}

.hello__title {
    font-family: Open sans;
    font-size: 72px;
    font-weight: 800;
    line-height: 98px;
    margin-bottom: 18px;
    font-style: normal;
    display: flex;
    text-align: center;
    align-items: flex-end;
    text-transform: uppercase;
}

.hello__text {
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 44px;
}

.button {
    background: #FF3D00;
    font-size: 14px;
    border-radius: 35px;
    padding: 19px 54px;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}

.button--color--white:hover {
    color: #FF3D00;
}

.offers {
    margin-bottom: 180px;
}

.offers__item {  
    background: #FFFFFF;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
    width: 362px;
    height: 476px;
}

.offers__item:last-child {
    margin-right: 0;
}

.offers__header {
    min-height: 162px;
    margin-bottom: 30px;
    position: relative;
}

.offers__content {
    padding: 19px 19px;
    color: #000000;
}

.offers_title {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 17px;
}

.offers__features-cell {
    display: flex;
    vertical-align: top;
    width: 102px;
    margin-right: 81px;
}

.offers__features-cell:last-child {
    margin-right: 0;
}